body {
    background: url('images/image.png');
}

#heading {
    text-align: center;
    text-decoration: underline palegreen;
}
#list {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    background: radial-gradient(circle at 20%, #d0ffed, #ffffff);
    border: solid black 1px;
}

#list a {
    text-decoration: none;
    
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background: radial-gradient(circle at 20%, #c5fdfd, #ffffff);
    border: solid black 1px;
}

#heading {
    background: radial-gradient(circle at 20%, #7ccdff, #ffffff);
    border: solid black 1px;
}

